.jumbotron {
	background-color: black;
	color: rgb(6, 235, 25);
	margin-top: 25px;
}

footer {
	padding: 10px 20px 20px 10px;
	color: black;
	background-color: blue;
	margin-bottom: 0px;
	margin-top: 20px;
}

.service-init {
	flex: 1 200px;
	margin-top: 10px;
}
.btn-reserva {
	width: 100%;
	border-radius: 0px;
}
.footer-addres-icon {
	padding-right: 10px;
}
.reservar-button {
	padding-right: 15px;
}
.card-img {
	width: 100%;
	align-items: center;
}
